# Creating a preference model


For the simulation process, we'll first develop a simple recommender system that will fill the rating matrix from a given dataset. This will act as a **frozen preferences model**

In [1]:
import numpy as np
import pandas as pd
from itertools import product
from sklearn.metrics import f1_score
from sklearn.model_selection import KFold, train_test_split
from surprise import KNNBasic, NMF, Reader, SVDpp, Dataset as SurpriseDataset
from torch.utils.data import DataLoader, Dataset
from tqdm import tqdm

import sys
from pathlib import Path

sys.path.append('..')

In [2]:
class MlDataLoader(Dataset):
    def __init__(self, file_path):
        self.target_column = 'binarized_rating'
        self._columns = ['user', 'item', self.target_column]
        self.data = pd.read_csv(file_path)[self._columns]
        self.n_users = self.data['user'].nunique()
        self.n_items = self.data['item'].nunique()

        unique_user_ids = self.data['user'].unique()
        unique_item_ids = self.data['item'].unique()
        self.user_id_map = {old_id: new_id for new_id, old_id in enumerate(sorted(unique_user_ids))}
        self.item_id_map = {old_id: new_id for new_id, old_id in enumerate(sorted(unique_item_ids))}
        self.data['user'] = self.data['user'].map(self.user_id_map)
        self.data['item'] = self.data['item'].map(self.item_id_map)



    def __len__(self):
        return len(self.data)

    def __getitem__(self, idx):
        row = self.data.iloc[idx]

        user = int(row['user'])
        item = int(row['item'])
        label = float(row[self.target_column])
        return (user, item), label

## Loading data

In [3]:
sys.path.append("/home/caio/dev/calibratedRecs")

In [4]:
from simulationConstants import ML_DATA_PATH

In [5]:
from calibrationUtils import preprocess_genres

In [6]:
data = MlDataLoader(f"../{ML_DATA_PATH}")
dataloader = DataLoader(data, batch_size=256, shuffle=True)

In [7]:
df = pd.read_csv(f"../{ML_DATA_PATH}").rename(columns={"Rating": 'rating'})

In [8]:
reader = Reader(rating_scale=(1, 5))

In [9]:
df

,user,item,rating,title,genres,rating_age_minutes,rating_age_hours,rating_age_days,rating_age_weeks,binarized_rating
0,1,1193,5,One Flew Over the Cuckoo's Nest (1975),drama,8726.516667,145.441944,6.060081,0.865726,1
1,1,661,3,James and the Giant Peach (1996),animation|children's|musical,8704.033333,145.067222,6.044468,0.863495,0
2,1,914,3,My Fair Lady (1964),musical|romance,8706.383333,145.106389,6.046100,0.863729,0
3,1,3408,4,Erin Brockovich (2000),drama,8734.600000,145.576667,6.065694,0.866528,1
4,1,2355,5,"Bug's Life, A (1998)",animation|children's|comedy,1.000000,0.016667,0.000694,0.000099,1
...,...,...,...,...,...,...,...,...,...,...
982035,6040,1091,1,Weekend at Bernie's (1989),comedy,693308.566667,11555.142778,481.464282,68.780612,0
982036,6040,1094,5,"Crying Game, The (1992)",drama|romance|war,693502.800000,11558.380000,481.599167,68.799881,1
982037,6040,562,5,Welcome to the Dollhouse (1995),comedy|drama,693505.150000,11558.419167,481.600799,68.800114,1
982038,6040,1096,4,Sophie's Choice (1982),drama,693323.450000,11555.390833,481.474618,68.782088,1
982039,6040,1097,4,E.T. the Extra-Terrestrial (1982),children's|drama|fantasy|sci-fi,693324.766667,11555.412778,481.475532,68.782219,1

In [10]:

data = df[["user", "item", "rating"]]

In [11]:
trainset, testset = train_test_split(data, test_size=0.3)

In [12]:
trainset

        user  item  rating
608049  3755  2716       5
520939  3281  2804       5
124573   822  1713       3
352363  2100  3186       5
560285  3504  1041       3
...      ...   ...     ...
239091  1468    95       4
464663  2909  3709       4
898312  5534  3053       3
152457  1004  1266       5
498675  3129  1366       2

[687428 rows x 3 columns]

In [13]:
test, val = train_test_split(data, test_size=0.5)

## Finding the best model

In [14]:
class ModelConfig:
    def __init__(self, name):
        self.name = name
        self.models = {
            "SVD++": SVDpp,
            "NMF": NMF,
            "knn": KNNBasic,
        }

        self.param_grid_svd = {
            'n_epochs': [10, 20],
            'lr_all': [0.002, 0.005],
            'reg_all': [0.02, 0.1]
        }

        self.param_grid_nmf = {
            'n_factors': [15, 30],
            'n_epochs': [50, 100],
            'reg_pu': [0.06, 0.1],
            'reg_qi': [0.06, 0.1]
        }

        sim_functions = ['cosine', 'pearson']
        user_based = [True, False]

        sim_options_combinations = [
            {'name': sim, 'user_based':ub} 
            for sim in sim_functions
            for ub in user_based
        ]

        self.param_grid_knn = {
            'k': [20, 40, 60],
            'sim_options': sim_options_combinations
        }


        self.model_name_to_params = {
            "SVD++": self.param_grid_svd,
            "NMF": self.param_grid_nmf,
            "knn": self.param_grid_knn
        }

        self.model = self.models[self.name]
        self.params = self.model_name_to_params[self.name]

    def yield_models(self):
        model = self.model
        params = self.params
        param_names = list(params.keys())
        combinations = list(product(*params.values()))
        dicts = [dict(zip(param_names, values)) for values in combinations]
        return [(model(**param), param) for param in dicts]

In [ ]:
kf = KFold(n_splits=5)
f1_results = {}

model_names = ["SVD++", "NMF", "knn"]

for model_name in model_names:
    model_config = ModelConfig(model_name)
    models = model_config.yield_models()
    for (model, params) in models:
        f1_scores = []
        for train_idx, test_idx in kf.split(val):
            trainset = val.iloc[train_idx]
            testset = val.iloc[test_idx]
            train_surprise = SurpriseDataset.load_from_df(trainset[["user", "item", "rating"]], reader)
            trainset_surprise = train_surprise.build_full_trainset()
            testset_surprise = list(testset.itertuples(index=False, name=None))
            model.fit(trainset_surprise)
            predictions = model.test(testset_surprise)
            y_pred = [1 if pred.est >= 4 else 0 for pred in predictions]
            y_true = [1 if pred.r_ui >= 4 else 0 for pred in predictions]
            f1 = f1_score(y_true, y_pred)
            f1_scores.append(f1)
        f1_results[(model_config, str(params))] = np.mean(f1_scores)

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [ ]:
f1_df = pd.DataFrame([
    {
        "model": str(model_config.name),
        "params": params,
        "f1_score": score
    }
    for (model_config, params), score in f1_results.items()
])

In [ ]:
f1_df.to_pickle("static_preference_model_f1_performance.pkl")

In [15]:
f1_df = pd.read_pickle("static_preference_model_f1_performance.pkl")

In [16]:
f1_df.sort_values(by="f1_score", ascending=False)

    model                                             params  f1_score
16    NMF  {'n_factors': 30, 'n_epochs': 50, 'reg_pu': 0....  0.693673
17    NMF  {'n_factors': 30, 'n_epochs': 50, 'reg_pu': 0....  0.618318
18    NMF  {'n_factors': 30, 'n_epochs': 50, 'reg_pu': 0....  0.617588
6   SVD++  {'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0...  0.575721
24    knn  {'k': 20, 'sim_options': {'name': 'cosine', 'u...  0.550123
20    NMF  {'n_factors': 30, 'n_epochs': 100, 'reg_pu': 0...  0.548448
2   SVD++  {'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0...  0.547213
28    knn  {'k': 40, 'sim_options': {'name': 'cosine', 'u...  0.546882
4   SVD++  {'n_epochs': 20, 'lr_all': 0.002, 'reg_all': 0...  0.545265
32    knn  {'k': 60, 'sim_options': {'name': 'cosine', 'u...  0.544619
8     NMF  {'n_factors': 15, 'n_epochs': 50, 'reg_pu': 0....  0.542391
19    NMF  {'n_factors': 30, 'n_epochs': 50, 'reg_pu': 0....  0.541750
0   SVD++  {'n_epochs': 10, 'lr_all': 0.002, 'reg_all': 0...  0.526676
12    NMF  {'n_factors': 15, 'n_epochs': 100, 'reg_pu': 0...  0.525094
7   SVD++  {'n_epochs': 20, 'lr_all': 0.005, 'reg_all': 0.1}  0.524611
26    knn  {'k': 20, 'sim_options': {'name': 'pearson', '...  0.518402
5   SVD++  {'n_epochs': 20, 'lr_all': 0.002, 'reg_all': 0.1}  0.516134
3   SVD++  {'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.1}  0.515484
21    NMF  {'n_factors': 30, 'n_epochs': 100, 'reg_pu': 0...  0.514377
22    NMF  {'n_factors': 30, 'n_epochs': 100, 'reg_pu': 0...  0.514134
9     NMF  {'n_factors': 15, 'n_epochs': 50, 'reg_pu': 0....  0.513409
10    NMF  {'n_factors': 15, 'n_epochs': 50, 'reg_pu': 0....  0.512694
30    knn  {'k': 40, 'sim_options': {'name': 'pearson', '...  0.508417
14    NMF  {'n_factors': 15, 'n_epochs': 100, 'reg_pu': 0...  0.506582
34    knn  {'k': 60, 'sim_options': {'name': 'pearson', '...  0.505321
13    NMF  {'n_factors': 15, 'n_epochs': 100, 'reg_pu': 0...  0.505075
1   SVD++  {'n_epochs': 10, 'lr_all': 0.002, 'reg_all': 0.1}  0.499287
25    knn  {'k': 20, 'sim_options': {'name': 'cosine', 'u...  0.489644
23    NMF  {'n_factors': 30, 'n_epochs': 100, 'reg_pu': 0...  0.483875
11    NMF  {'n_factors': 15, 'n_epochs': 50, 'reg_pu': 0....  0.483046
15    NMF  {'n_factors': 15, 'n_epochs': 100, 'reg_pu': 0...  0.481916
29    knn  {'k': 40, 'sim_options': {'name': 'cosine', 'u...  0.477878
33    knn  {'k': 60, 'sim_options': {'name': 'cosine', 'u...  0.460369
35    knn  {'k': 60, 'sim_options': {'name': 'pearson', '...  0.379712
31    knn  {'k': 40, 'sim_options': {'name': 'pearson', '...  0.375917
27    knn  {'k': 20, 'sim_options': {'name': 'pearson', '...  0.371806

In [17]:
best_results = f1_df.sort_values(by="f1_score", ascending=False).iloc[0]

In [18]:
import ast

In [19]:
best_model = best_results.model
best_params = ast.literal_eval(best_results.params)
best_metric = best_results.f1_score

In [20]:
best_metric

0.6936733041898038

In [21]:
best_model

'NMF'

In [22]:
best_params

{'n_factors': 30, 'n_epochs': 50, 'reg_pu': 0.06, 'reg_qi': 0.06}

In [23]:
model = NMF(**best_params)

In [24]:
model

In [25]:
trainset, testset = train_test_split(data, test_size=0.3)
trainset = SurpriseDataset.load_from_df(trainset, reader).build_full_trainset()
testset = list(testset.itertuples(index=False, name=None))

In [26]:
%%time
model.fit(trainset)

CPU times: user 6.11 s, sys: 0 ns, total: 6.11 s
Wall time: 6.11 s

In [27]:
%%time
predictions = model.test(testset)

CPU times: user 559 ms, sys: 18.2 ms, total: 578 ms
Wall time: 577 ms

In [28]:
y_pred = [1 if pred.est >= 4 else 0 for pred in predictions]
y_true = [1 if pred.r_ui >= 4 else 0 for pred in predictions]

In [29]:
f1_score(y_true, y_pred)

0.7025649658213601

### Filling up the rating matrix - getting the oracle preferences

In [30]:
df

,user,item,rating,title,genres,rating_age_minutes,rating_age_hours,rating_age_days,rating_age_weeks,binarized_rating
0,1,1193,5,One Flew Over the Cuckoo's Nest (1975),drama,8726.516667,145.441944,6.060081,0.865726,1
1,1,661,3,James and the Giant Peach (1996),animation|children's|musical,8704.033333,145.067222,6.044468,0.863495,0
2,1,914,3,My Fair Lady (1964),musical|romance,8706.383333,145.106389,6.046100,0.863729,0
3,1,3408,4,Erin Brockovich (2000),drama,8734.600000,145.576667,6.065694,0.866528,1
4,1,2355,5,"Bug's Life, A (1998)",animation|children's|comedy,1.000000,0.016667,0.000694,0.000099,1
...,...,...,...,...,...,...,...,...,...,...
982035,6040,1091,1,Weekend at Bernie's (1989),comedy,693308.566667,11555.142778,481.464282,68.780612,0
982036,6040,1094,5,"Crying Game, The (1992)",drama|romance|war,693502.800000,11558.380000,481.599167,68.799881,1
982037,6040,562,5,Welcome to the Dollhouse (1995),comedy|drama,693505.150000,11558.419167,481.600799,68.800114,1
982038,6040,1096,4,Sophie's Choice (1982),drama,693323.450000,11555.390833,481.474618,68.782088,1
982039,6040,1097,4,E.T. the Extra-Terrestrial (1982),children's|drama|fantasy|sci-fi,693324.766667,11555.412778,481.475532,68.782219,1

In [31]:
random_user_sample = df["user"].drop_duplicates().sample(n=1000, random_state=42).tolist()

In [32]:
len(random_user_sample)

1000

In [33]:
sampled_df = df[df["user"].isin(random_user_sample)]

In [34]:
sampled_df

,user,item,rating,title,genres,rating_age_minutes,rating_age_hours,rating_age_days,rating_age_weeks,binarized_rating
778,10,2622,5,"Midsummer Night's Dream, A (1999)",comedy|fantasy,40174.600000,669.576667,27.899028,3.985575,1
779,10,648,4,Mission: Impossible (1996),action|adventure|mystery,40229.383333,670.489722,27.937072,3.991010,1
780,10,2628,3,Star Wars: Episode I - The Phantom Menace (1999),action|adventure|fantasy|sci-fi,40171.333333,669.522222,27.896759,3.985251,0
781,10,3358,5,Defending Your Life (1991),comedy|romance,40205.166667,670.086111,27.920255,3.988608,1
782,10,3359,3,Breaking Away (1979),drama,40192.716667,669.878611,27.911609,3.987373,0
...,...,...,...,...,...,...,...,...,...,...
981369,6036,562,4,Welcome to the Dollhouse (1995),comedy|drama,46.316667,0.771944,0.032164,0.004595,1
981370,6036,1096,4,Sophie's Choice (1982),drama,712.033333,11.867222,0.494468,0.070638,1
981371,6036,1097,4,E.T. the Extra-Terrestrial (1982),children's|drama|fantasy|sci-fi,703.583333,11.726389,0.488600,0.069800,1
981372,6036,1099,4,"Christmas Carol, A (1938)",drama,51.083333,0.851389,0.035475,0.005068,1
981373,6036,2048,3,"Great Mouse Detective, The (1986)",animation|children's,625.966667,10.432778,0.434699,0.062100,0

In [35]:
len(set(sampled_df["user"].drop_duplicates()))

1000

In [36]:
trainset = SurpriseDataset.load_from_df(sampled_df[["user", "item", "rating"]], reader).build_full_trainset()
model.fit(trainset)

In [37]:
all_users = trainset.all_users()
all_items = trainset.all_items()

user_ids = [trainset.to_raw_uid(u) for u in all_users]
item_ids = [trainset.to_raw_iid(i) for i in all_items]


predictions = []
for user_id in tqdm(user_ids, desc="Predicting missing ratings"):
    surprise_internal_user_id = trainset.to_inner_uid(user_id)
    rated_item_ids = set([trainset.to_raw_iid(item) for item, rating in trainset.ur[surprise_internal_user_id]])
    for item_id in item_ids:
        if item_id not in rated_item_ids:
            #predict the rating
            pred = model.predict(user_id, item_id)
            predictions.append([user_id, item_id, pred])

Predicting missing ratings: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1000/1000 [00:06<00:00, 150.83it/s]

In [38]:
assert(all([pred[2].r_ui == None for pred in predictions]) == True)

In [39]:
# binarize predictions
processed_predictions = [[pred[0], pred[1], int(pred[2].est >= 4)] for pred in predictions]

In [40]:
df_main_cols = sampled_df[["user", "item", "genres", "rating"]]
df_main_cols.loc[:, "rating"] = df_main_cols["rating"].apply(lambda rating: int(rating >= 4))

In [41]:
processed_predictions

[[10, 2987, 1],
 [10, 2555, 0],
 [10, 2629, 0],
 [10, 2485, 0],
 [10, 2701, 0],
 [10, 2568, 0],
 [10, 3004, 0],
 [10, 2713, 0],
 [10, 1911, 0],
 [10, 3516, 1],
 [10, 2643, 0],
 [10, 2572, 1],
 [10, 3016, 0],
 [10, 2720, 0],
 [10, 2722, 0],
 [10, 2723, 0],
 [10, 2724, 0],
 [10, 2581, 1],
 [10, 2805, 0],
 [10, 266, 1],
 [10, 2828, 0],
 [10, 2683, 1],
 [10, 2761, 1],
 [10, 2699, 0],
 [10, 2856, 0],
 [10, 2369, 0],
 [10, 2888, 0],
 [10, 2392, 0],
 [10, 2394, 1],
 [10, 2975, 0],
 [10, 2989, 1],
 [10, 3421, 1],
 [10, 1753, 0],
 [10, 3930, 0],
 [10, 1321, 1],
 [10, 3863, 0],
 [10, 2990, 0],
 [10, 3793, 1],
 [10, 2991, 1],
 [10, 2993, 1],
 [10, 1327, 0],
 [10, 1258, 1],
 [10, 2700, 1],
 [10, 1188, 1],
 [10, 2633, 1],
 [10, 2707, 0],
 [10, 2490, 1],
 [10, 2638, 0],
 [10, 1909, 1],
 [10, 1407, 1],
 [10, 1334, 0],
 [10, 1261, 1],
 [10, 2064, 1],
 [10, 1262, 1],
 [10, 2139, 1],
 [10, 1193, 1],
 [10, 733, 1],
 [10, 3510, 1],
 [10, 2710, 0],
 [10, 593, 1],
 [10, 2644, 1],
 [10, 2719, 0],
 [10, 2646, 0],
 [10, 2647, 0],
 [10, 2574, 0],
 [10, 1772, 0],
 [10, 2648, 1],
 [10, 2649, 0],
 [10, 165, 1],
 [10, 1340, 1],
 [10, 741, 1],
 [10, 3889, 0],
 [10, 1275, 1],
 [10, 1277, 1],
 [10, 3527, 1],
 [10, 2653, 0],
 [10, 1350, 1],
 [10, 2085, 1],
 [10, 2089, 1],
 [10, 3461, 1],
 [10, 1792, 0],
 [10, 2160, 1],
 [10, 1431, 0],
 [10, 330, 0],
 [10, 405, 0],
 [10, 10, 1],
 [10, 17, 1],
 [10, 1370, 1],
 [10, 198, 1],
 [10, 1373, 0],
 [10, 842, 0],
 [10, 3623, 0],
 [10, 3624, 1],
 [10, 3552, 1],
 [10, 2687, 1],
 [10, 1527, 1],
 [10, 3633, 1],
 [10, 3635, 1],
 [10, 785, 0],
 [10, 3638, 0],
 [10, 2836, 1],
 [10, 3639, 1],
 [10, 2692, 1],
 [10, 420, 0],
 [10, 2694, 0],
 [10, 1029, 1],
 [10, 34, 1],
 [10, 3208, 0],
 [10, 1608, 1],
 [10, 2338, 0],
 [10, 2195, 1],
 [10, 2841, 1],
 [10, 3717, 0],
 [10, 1036, 1],
 [10, 1974, 0],
 [10, 3213, 1],
 [10, 1610, 1],
 [10, 2414, 0],
 [10, 47, 1],
 [10, 940, 1],
 [10, 879, 0],
 [10, 2782, 1],
 [10, 1982, 1],
 [10, 2789, 0],
 [10, 3081, 1],
 [10, 377, 1],
 [10, 3082, 1],
 [10, 2353, 1],
 [10, 1552, 0],
 [10, 2428, 0],
 [10, 2860, 0],
 [10, 2790, 0],
 [10, 3596, 0],
 [10, 1994, 1],
 [10, 380, 1],
 [10, 1997, 1],
 [10, 2502, 1],
 [10, 457, 1],
 [10, 2366, 1],
 [10, 2367, 0],
 [10, 2296, 0],
 [10, 2004, 0],
 [10, 3744, 0],
 [10, 1206, 1],
 [10, 2947, 1],
 [10, 2949, 1],
 [10, 76, 0],
 [10, 1717, 0],
 [10, 1644, 0],
 [10, 3176, 1],
 [10, 1645, 0],
 [10, 2376, 0],
 [10, 3752, 0],
 [10, 1219, 1],
 [10, 3325, 0],
 [10, 1722, 1],
 [10, 1650, 0],
 [10, 2527, 1],
 [10, 2454, 1],
 [10, 2455, 1],
 [10, 111, 1],
 [10, 1655, 0],
 [10, 2028, 1],
 [10, 2600, 1],
 [10, 3409, 0],
 [10, 1597, 1],
 [10, 2103, 0],
 [10, 1301, 1],
 [10, 1090, 1],
 [10, 2976, 0],
 [10, 3273, 0],
 [10, 1248, 1],
 [10, 1249, 1],
 [10, 3420, 1],
 [10, 1179, 1],
 [10, 2553, 0],
 [10, 2554, 0],
 [10, 3503, 1],
 [10, 3505, 1],
 [10, 1189, 1],
 [10, 3507, 1],
 [10, 3435, 1],
 [10, 659, 1],
 [10, 3000, 1],
 [10, 2202, 1],
 [10, 6, 1],
 [10, 3877, 0],
 [10, 1267, 1],
 [10, 661, 0],
 [10, 2712, 1],
 [10, 1199, 1],
 [10, 2641, 0],
 [10, 1912, 1],
 [10, 2642, 0],
 [10, 1845, 1],
 [10, 161, 1],
 [10, 235, 1],
 [10, 162, 1],
 [10, 3952, 1],
 [10, 1343, 1],
 [10, 2148, 0],
 [10, 2149, 0],
 [10, 1274, 1],
 [10, 3521, 1],
 [10, 674, 0],
 [10, 748, 0],
 [10, 2726, 1],
 [10, 319, 1],
 [10, 2808, 0],
 [10, 3396, 1],
 [10, 3101, 1],
 [10, 327, 0],
 [10, 3104, 1],
 [10, 1500, 1],
 [10, 3032, 1],
 [10, 187, 1],
 [10, 903, 1],
 [10, 908, 1],
 [10, 3618, 0],
 [10, 3474, 0],
 [10, 3479, 1],
 [10, 1876, 0],
 [10, 11, 1],
 [10, 2311, 1],
 [10, 16, 1],
 [10, 2241, 0],
 [10, 3044, 1],
 [10, 196, 0],
 [10, 911, 1],
 [10, 2176, 0],
 [10, 3551, 1],
 [10, 3556, 1],
 [10, 1953, 1],
 [10, 1958, 1],
 [10, 1885, 1],
 [10, 21, 1],
 [10, 2322, 0],
 [10, 348, 1],
 [10, 3052, 1],
 [10, 29, 1],
 [10, 2253, 0],
 [10, 3700, 0],
 [10, 2259, 0],
 [10, 2901, 0],
 [10, 1388, 0],
 [10, 3634, 1],
 [10, 3708, 0],
 [10, 788, 0],
 [10, 1965, 1],
 [10, 39, 1],
 [10, 2409, 0],
 [10, 2268, 1],
 [10, 1396, 1],
 [10, 2912, 1],
 [10, 866, 1],
 [10, 2916, 1],
 [10, 2917, 1],
 [10, 3576, 1],
 [10, 3578, 1],
 [10, 431, 1],
 [10, 2410, 0],
 [10, 2411, 0],
 [10, 293, 1],
 [10, 3070, 1],
 [10, 45, 1],
 [10, 296, 1],
 [10, 3147, 1],
 [10, 2419, 0],
 [10, 2278, 1],
 [10, 442, 0],
 [10, 50, 1],
 [10, 52, 1],
 [10, 1625, 1],
 [10, 951, 1],
 [10, 2288, 1],
 [10, 2289, 1],
 [10, 521, 0],
 [10, 3300, 0],
 [10, 60, 0],
 [10, 3740, 1],
 [10, 3741, 1],
 [10, 968, 1],
 [10, 2871, 1],
 [10, 1060, 1],
 [10, 608, 1],
 [10, 2511, 1],
 [10, 70, 0],
 [10, 1212, 1],
 [10, 2952, 1],
 [10, 1213, 1],
 [10, 610, 1],
 [10, 1218, 1],
 [10, 1077, 1],
 [10, 3253, 1],
 [10, 3256, 1],
 [10, 2528, 1],
 [10, 2384, 0],
 [10, 1729, 1],
 [10, 3763, 1],
 [10, 1222, 1],
 [10, 1227, 1],
 [10, 3698, 0],
 [10, 555, 1],
 [10, 1089, 1],
 [10, 556, 1],
 [10, 2533, 0],
 [10, 1805, 1],
 [10, 3338, 1],
 [10, 3265, 1],
 [10, 2390, 1],
 [10, 3266, 1],
 [10, 2391, 1],
 [10, 2395, 1],
 [10, 125, 1],
 [10, 3770, 1],
 [10, 1306, 1],
 [10, 2973, 1],
 [10, 493, 1],
 [10, 2542, 1],
 [10, 1747, 1],
 [10, 1674, 1],
 [10, 1748, 1],
 [10, 3920, 1],
 [10, 1313, 0],
 [10, 2117, 1],
 [10, 2118, 1],
 [10, 2119, 0],
 [10, 1171, 1],
 [10, 3786, 0],
 [10, 2985, 1],
 [10, 2550, 1],
 [10, 2058, 1],
 [10, 3366, 1],
 [10, 3370, 1],
 [10, 163, 0],
 [10, 1785, 0],
 [10, 2660, 1],
 [10, 2661, 1],
 [10, 3468, 1],
 [10, 3102, 1],
 [10, 1799, 1],
 [10, 349, 1],
 [10, 353, 1],
 [10, 2403, 1],
 [10, 3062, 1],
 [10, 2406, 1],
 [10, 288, 0],
 [10, 3726, 1],
 [10, 3654, 1],
 [10, 2363, 1],
 [10, 2944, 1],
 [10, 3753, 1],
 [10, 2951, 1],
 [10, 474, 1],
 [10, 3836, 1],
 [10, 3769, 0],
 [10, 1085, 1],
 [10, 3405, 1],
 [10, 2534, 0],
 [10, 3197, 1],
 [10, 494, 1],
 [10, 3418, 1],
 [10, 1242, 1],
 [10, 3429, 1],
 [10, 3286, 0],
 [10, 1683, 1],
 [10, 1834, 1],
 [10, 247, 1],
 [10, 1358, 1],
 [10, 1296, 1],
 [10, 1956, 1],
 [10, 28, 1],
 [10, 3079, 1],
 [10, 3159, 1],
 [10, 1208, 1],
 [10, 3821, 0],
 [10, 2020, 1],
 [10, 3787, 1],
 [10, 1251, 1],
 [10, 1183, 1],
 [10, 1185, 1],
 [10, 728, 1],
 [10, 3508, 1],
 [10, 2708, 1],
 [10, 1760, 0],
 [10, 3365, 1],
 [10, 1835, 0],
 [10, 154, 1],
 [10, 155, 1],
 [10, 3871, 1],
 [10, 800, 1],
 [10, 2065, 1],
 [10, 803, 1],
 [10, 1264, 1],
 [10, 1266, 1],
 [10, 3512, 1],
 [10, 2575, 1],
 [10, 1272, 1],
 [10, 1419, 1],
 [10, 824, 1],
 [10, 2088, 0],
 [10, 1288, 1],
 [10, 2731, 1],
 [10, 2732, 1],
 [10, 3467, 1],
 [10, 3030, 1],
 [10, 2303, 1],
 [10, 2238, 1],
 [10, 2239, 1],
 [10, 838, 1],
 [10, 3473, 0],
 [10, 2671, 1],
 [10, 3549, 1],
 [10, 1945, 1],
 [10, 1946, 1],
 [10, 1949, 1],
 [10, 2313, 1],
 [10, 2171, 1],
 [10, 910, 1],
 [10, 1013, 1],
 [10, 2682, 1],
 [10, 1955, 1],
 [10, 1957, 1],
 [10, 2186, 1],
 [10, 3566, 1],
 [10, 3567, 1],
 [10, 1964, 1],
 [10, 3060, 1],
 [10, 2331, 0],
 [10, 3061, 1],
 [10, 36, 1],
 [10, 3068, 1],
 [10, 1393, 1],
 [10, 863, 0],
 [10, 1103, 1],
 [10, 2919, 1],
 [10, 3649, 1],
 [10, 3074, 1],
 [10, 945, 1],
 [10, 2921, 1],
 [10, 2922, 1],
 [10, 3725, 1],
 [10, 948, 1],
 [10, 2926, 0],
 [10, 3584, 0],
 [10, 2420, 1],
 [10, 3152, 1],
 [10, 2352, 1],
 [10, 3083, 1],
 [10, 58, 1],
 [10, 3088, 1],
 [10, 2932, 1],
 [10, 3091, 1],
 [10, 1569, 1],
 [10, 965, 1],
 [10, 2942, 1],
 [10, 1643, 1],
 [10, 3681, 1],
 [10, 3685, 1],
 [10, 2019, 1],
 [10, 1217, 1],
 [10, 3320, 1],
 [10, 1078, 1],
 [10, 2385, 0],
 [10, 3831, 1],
 [10, 2966, 1],
 [10, 1081, 1],
 [10, 2969, 1],
 [10, 1801, 1],
 [10, 1732, 1],
 [10, 1733, 0],
 [10, 123, 1],
 [10, 1300, 1],
 [10, 1231, 1],
 [10, 1162, 1],
 [10, 1094, 1],
 [10, 708, 1],
 [10, 1096, 1],
 [10, 2611, 1],
 [10, 2474, 1],
 [10, 2478, 0],
 [10, 3852, 1],
 [10, 1172, 1],
 [10, 3788, 1],
 [10, 3354, 0],
 [10, 2706, 1],
 [10, 3005, 1],
 [10, 2580, 1],
 [10, 2676, 0],
 [10, 3113, 0],
 [10, 2759, 1],
 [10, 2906, 0],
 [10, 2908, 1],
 [10, 2763, 1],
 [10, 2772, 0],
 [10, 3157, 0],
 [10, 3160, 1],
 [10, 2433, 1],
 [10, 3745, 1],
 [10, 2526, 0],
 [10, 86, 1],
 [10, 2027, 0],
 [10, 2605, 0],
 [10, 3861, 0],
 [10, 2126, 0],
 [10, 736, 0],
 [10, 3020, 1],
 [10, 1429, 1],
 [10, 3107, 1],
 [10, 2167, 1],
 [10, 1518, 1],
 [10, 1379, 0],
 [10, 1385, 0],
 [10, 886, 0],
 [10, 112, 1],
 [10, 1589, 1],
 [10, 996, 0],
 [10, 3274, 0],
 [10, 144, 1],
 [10, 145, 1],
 [10, 3617, 1],
 [10, 423, 0],
 [10, 1100, 0],
 [10, 3646, 0],
 [10, 511, 1],
 [10, 1047, 1],
 [10, 517, 0],
 [10, 376, 1],
 [10, 3697, 0],
 [10, 93, 0],
 [10, 3916, 1],
 [10, 3785, 0],
 [10, 3864, 0],
 [10, 3794, 0],
 [10, 3797, 0],
 [10, 3799, 0],
 [10, 2152, 0],
 [10, 2310, 1],
 [10, 1466, 1],
 [10, 2348, 1],
 [10, 891, 0],
 [10, 3513, 1],
 [10, 3484, 0],
 [10, 1894, 0],
 [10, 1976, 0],
 [10, 1977, 0],
 [10, 441, 1],
 [10, 522, 1],
 [10, 3820, 0],
 [10, 3755, 0],
 [10, 2890, 1],
 [10, 3694, 0],
 [10, 1228, 1],
 [10, 3882, 1],
 [10, 3897, 1],
 [10, 762, 0],
 [10, 786, 0],
 [10, 3238, 0],
 [10, 3316, 0],
 [10, 3190, 0],
 [10, 3511, 0],
 [10, 3452, 0],
 [10, 3615, 0],
 [10, 3555, 1],
 [10, 3564, 0],
 [10, 3743, 0],
 [10, 3826, 0],
 [10, 3827, 0],
 [10, 3908, 0],
 [10, 3784, 0],
 [10, 1284, 1],
 [10, 869, 0],
 [10, 2357, 1],
 [10, 3362, 1],
 [10, 164, 1],
 [10, 2583, 1],
 [10, 246, 1],
 [10, 1963, 1],
 [10, 1041, 1],
 [10, 1066, 1],
 [10, 615, 1],
 [10, 1414, 0],
 [10, 1416, 1],
 [10, 2155, 0],
 [10, 900, 0],
 [10, 901, 1],
 [10, 1446, 1],
 [10, 1449, 1],
 [10, 783, 0],
 [10, 2333, 1],
 [10, 1537, 1],
 [10, 2359, 1],
 [10, 1641, 1],
 [10, 3178, 1],
 [10, 107, 0],
 [10, 1734, 1],
 [10, 2539, 1],
 [10, 205, 1],
 [10, 1677, 0],
 [10, 3282, 1],
 [10, 2499, 1],
 [10, 156, 0],
 [10, 1914, 1],
 [10, 232, 1],
 [10, 1777, 1],
 [10, 176, 1],
 [10, 3600, 0],
 [10, 3606, 1],
 [10, 2596, 1],
 [10, 1794, 1],
 [10, 3614, 0],
 [10, 3545, 1],
 [10, 1871, 1],
 [10, 199, 1],
 [10, 1951, 1],
 [10, 1883, 0],
 [10, 342, 1],
 [10, 417, 1],
 [10, 345, 1],
 [10, 2690, 1],
 [10, 1024, 0],
 [10, 3712, 0],
 [10, 500, 1],
 [10, 298, 1],
 [10, 440, 1],
 [10, 1057, 1],
 [10, 3599, 0],
 [10, 72, 1],
 [10, 2017, 0],
 [10, 471, 1],
 [10, 84, 0],
 [10, 2971, 1],
 [10, 562, 1],
 [10, 492, 1],
 [10, 568, 1],
 [10, 497, 1],
 [10, 718, 1],
 [10, 805, 1],
 [10, 3105, 1],
 [10, 832, 1],
 [10, 1459, 1],
 [10, 3156, 0],
 [10, 880, 0],
 [10, 3185, 0],
 [10, 1590, 0],
 [10, 1762, 0],
 [10, 230, 1],
 [10, 160, 0],
 [10, 256, 0],
 [10, 185, 0],
 [10, 3476, 1],
 [10, 1892, 0],
 [10, 350, 0],
 [10, 1968, 1],
 [10, 508, 1],
 [10, 55, 1],
 [10, 379, 0],
 [10, 3662, 0],
 [10, 451, 0],
 [10, 3686, 0],
 [10, 628, 1],
 [10, 1092, 0],
 [10, 2995, 0],
 [10, 3798, 0],
 [10, 2143, 0],
 [10, 673, 0],
 [10, 2162, 0],
 [10, 1702, 0],
 [10, 2519, 0],
 [10, 2541, 0],
 [10, 2546, 0],
 [10, 3534, 0],
 [10, 2734, 1],
 [10, 2688, 0],
 [10, 276, 0],
 [10, 2861, 1],
 [10, 2013, 0],
 [10, 2881, 0],
 [10, 2961, 0],
 [10, 558, 0],
 [10, 1299, 1],
 [10, 3067, 1],
 [10, 3210, 1],
 [10, 3334, 1],
 [10, 1594, 1],
 [10, 3361, 1],
 [10, 1962, 1],
 [10, 2915, 1],
 [10, 2927, 1],
 [10, 3730, 1],
 [10, 1207, 1],
 [10, 1244, 1],
 [10, 1405, 0],
 [10, 667, 0],
 [10, 2153, 0],
 [10, 1438, 0],
 [10, 839, 0],
 [10, 1378, 1],
 [10, 3054, 0],
 [10, 2404, 0],
 [10, 3063, 0],
 [10, 1606, 0],
 [10, 1391, 0],
 [10, 2194, 1],
 [10, 861, 1],
 [10, 2273, 1],
 [10, 1479, 1],
 [10, 2422, 0],
 [10, 1556, 0],
 [10, 1499, 0],
 [10, 2373, 0],
 [10, 3257, 0],
 [10, 1587, 1],
 [10, 2532, 0],
 [10, 3267, 1],
 [10, 1591, 0],
 [10, 2468, 0],
 [10, 1599, 0],
 [10, 2616, 0],
 [10, 2549, 0],
 [10, 2476, 0],
 [10, 204, 0],
 [10, 1752, 0],
 [10, 1681, 0],
 [10, 1688, 1],
 [10, 1907, 1],
 [10, 1769, 0],
 [10, 3440, 0],
 [10, 3444, 0],
 [10, 303, 0],
 [10, 168, 0],
 [10, 172, 0],
 [10, 173, 0],
 [10, 2807, 0],
 [10, 2735, 0],
 [10, 2815, 0],
 [10, 2816, 0],
 [10, 2818, 0],
 [10, 502, 0],
 [10, 1037, 0],
 [10, 434, 0],
 [10, 44, 0],
 [10, 2924, 1],
 [10, 464, 0],
 [10, 466, 0],
 [10, 485, 0],
 [10, 95, 0],
 [10, 3911, 1],
 [10, 3006, 1],
 [10, 1280, 1],
 [10, 3129, 1],
 [10, 1542, 1],
 [10, 1485, 1],
 [10, 3246, 1],
 [10, 2718, 1],
 [10, 1917, 0],
 [10, 1858, 0],
 [10, 337, 1],
 [10, 446, 1],
 [10, 529, 1],
 [10, 73, 1],
 [10, 1095, 1],
 [10, 2427, 1],
 [10, 1562, 0],
 [10, 2535, 0],
 [10, 2567, 1],
 [10, 3441, 0],
 [10, 3536, 1],
 [10, 15, 0],
 [10, 265, 1],
 [10, 1049, 0],
 [10, 3053, 0],
 [10, 3219, 0],
 [10, 2285, 1],
 [10, 998, 0],
 [10, 3298, 1],
 [10, 2840, 0],
 [10, 2771, 0],
 [10, 2023, 1],
 [10, 2038, 0],
 [10, 2243, 1],
 [10, 928, 1],
 [10, 933, 1],
 [10, 534, 1],
 [10, 3028, 1],
 [10, 1359, 0],
 [10, 3033, 1],
 [10, 2098, 0],
 [10, 930, 1],
 [10, 955, 1],
 [10, 1731, 0],
 [10, 1920, 0],
 [10, 1018, 0],
 [10, 2792, 0],
 [10, 2248, 1],
 [10, 852, 1],
 [10, 2272, 1],
 [10, 1711, 0],
 [10, 986, 1],
 [10, 1672, 1],
 [10, 222, 1],
 [10, 151, 1],
 [10, 300, 1],
 [10, 1860, 1],
 [10, 254, 0],
 [10, 2686, 1],
 [10, 281, 1],
 [10, 450, 1],
 [10, 454, 1],
 [10, 538, 1],
 [10, 1147, 1],
 [10, 477, 1],
 [10, 1325, 0],
 [10, 2203, 1],
 [10, 1260, 1],
 [10, 2066, 1],
 [10, 1344, 1],
 [10, 2182, 1],
 [10, 922, 1],
 [10, 942, 1],
 [10, 3706, 1],
 [10, 2940, 1],
 [10, 1069, 1],
 [10, 3683, 1],
 [10, 2899, 1],
 [10, 2102, 0],
 [10, 3949, 1],
 [10, 694, 0],
 [10, 2188, 0],
 [10, 3203, 1],
 [10, 2340, 1],
 [10, 2421, 0],
 [10, 1623, 0],
 [10, 2540, 0],
 [10, 157, 0],
 [10, 3448, 1],
 [10, 3537, 0],
 [10, 2907, 0],
 [10, 1995, 0],
 [10, 3764, 0],
 [10, 3918, 0],
 [10, 2144, 1],
 [10, 905, 1],
 [10, 1616, 0],
 [10, 941, 1],
 [10, 3098, 1],
 [10, 892, 1],
 [10, 3406, 1],
 [10, 1663, 1],
 [10, 3424, 1],
 [10, 1680, 1],
 [10, 3360, 1],
 [10, 507, 1],
 [10, 1224, 1],
 [10, 1226, 1],
 [10, 552, 1],
 [10, 2978, 0],
 [10, 1246, 1],
 [10, 2402, 0],
 [10, 647, 1],
 [10, 2121, 0],
 [10, 2122, 0],
 [10, 3937, 0],
 [10, 3791, 1],
 [10, 3792, 1],
 [10, 1186, 1],
 [10, 3001, 0],
 [10, 1333, 1],
 [10, 1263, 1],
 [10, 1268, 1],
 [10, 737, 0],
 [10, 599, 1],
 [10, 3014, 0],
 [10, 2145, 1],
 [10, 2146, 1],
 [10, 2076, 1],
 [10, 2150, 1],
 [10, 3029, 0],
 [10, 1352, 0],
 [10, 1281, 1],
 [10, 1355, 0],
 [10, 1285, 1],
 [10, 687, 0],
 [10, 3109, 0],
 [10, 2236, 1],
 [10, 1290, 1],
 [10, 906, 1],
 [10, 3110, 1],
 [10, 3111, 1],
 [10, 2242, 0],
 [10, 2245, 1],
 [10, 2249, 1],
 [10, 848, 1],
 [10, 3051, 0],
 [10, 2329, 1],
 [10, 2183, 1],
 [10, 921, 1],
 [10, 1389, 0],
 [10, 3200, 1],
 [10, 3201, 1],
 [10, 2401, 1],
 [10, 3204, 1],
 [10, 2260, 0],
 [10, 2334, 0],
 [10, 2408, 0],
 [10, 2262, 0],
 [10, 2263, 0],
 [10, 2267, 0],
 [10, 1395, 1],
 [10, 934, 1],
 [10, 3211, 1],
 [10, 3071, 1],
 [10, 2415, 0],
 [10, 2343, 0],
 [10, 1615, 1],
 [10, 2418, 0],
 [10, 2347, 1],
 [10, 875, 1],
 [10, 1620, 1],
 [10, 1621, 0],
 [10, 2429, 0],
 [10, 1488, 0],
 [10, 3304, 1],
 [10, 3308, 0],
 [10, 3093, 1],
 [10, 3167, 1],
 [10, 3168, 1],
 [10, 3169, 1],
 [10, 897, 1],
 [10, 3244, 1],
 [10, 1715, 0],
 [10, 2518, 1],
 [10, 101, 1],
 [10, 3249, 1],
 [10, 2374, 0],
 [10, 2379, 0],
 [10, 2450, 0],
 [10, 2524, 0],
 [10, 2380, 0],
 [10, 2381, 0],
 [10, 2382, 0],
 [10, 3258, 0],
 [10, 2383, 0],
 [10, 1727, 0],
 [10, 2457, 1],
 [10, 2387, 0],
 [10, 982, 1],
 [10, 3403, 0],
 [10, 3330, 1],
 [10, 3404, 1],
 [10, 1804, 0],
 [10, 2461, 0],
 [10, 2463, 1],
 [10, 1807, 1],
 [10, 1661, 0],
 [10, 2537, 0],
 [10, 3196, 1],
 [10, 3341, 1],
 [10, 3270, 1],
 [10, 3271, 1],
 [10, 2471, 0],
 [10, 1816, 0],
 [10, 2473, 0],
 [10, 1673, 1],
 [10, 3426, 0],
 [10, 2551, 0],
 [10, 3287, 0],
 [10, 2558, 0],
 [10, 3430, 0],
 [10, 2702, 0],
 [10, 3509, 0],
 [10, 1693, 1],
 [10, 1694, 1],
 [10, 225, 0],
 [10, 1841, 0],
 [10, 231, 0],
 [10, 3526, 1],
 [10, 3529, 1],
 [10, 2728, 1],
 [10, 3387, 0],
 [10, 1783, 0],
 [10, 3389, 0],
 [10, 2802, 0],
 [10, 3465, 0],
 [10, 2736, 1],
 [10, 1934, 1],
 [10, 2598, 0],
 [10, 259, 0],
 [10, 3543, 1],
 [10, 2741, 0],
 [10, 3619, 0],
 [10, 2745, 1],
 [10, 1944, 1],
 [10, 1873, 1],
 [10, 2749, 0],
 [10, 14, 1],
 [10, 2750, 1],
 [10, 1950, 1],
 [10, 1952, 1],
 [10, 3557, 0],
 ...]

In [42]:
predictions_df = pd.DataFrame(processed_predictions, columns=["user", "item", "rating"])

In [43]:
predictions_df

         user  item  rating
0          10  2987       1
1          10  2555       0
2          10  2629       0
3          10  2485       0
4          10  2701       0
...       ...   ...     ...
3274003  6036  2246       0
3274004  6036   559       0
3274005  6036  3866       0
3274006  6036   793       0
3274007  6036  3123       0

[3274008 rows x 3 columns]

In [44]:
genres_df = df[["item", "genres"]].drop_duplicates()

In [45]:
genres_df

        item                        genres
0       1193                         drama
1        661  animation|children's|musical
2        914               musical|romance
3       3408                         drama
4       2355   animation|children's|comedy
...      ...                           ...
929238  2258                        action
940279  2845                         drama
953149  3607          comedy|drama|western
953799   690                       romance
965059  2909                   documentary

[3701 rows x 2 columns]

In [61]:
predictions_df = predictions_df.merge(genres_df, on="item")

In [62]:
predictions_df

         user  item  rating                         genres
0          10  2987       1  adventure|animation|film-noir
1          10  2555       0                         comedy
2          10  2629       0                 comedy|romance
3          10  2485       0                 comedy|romance
4          10  2701       0          action|sci-fi|western
...       ...   ...     ...                            ...
3274003  6036  2246       0                         comedy
3274004  6036   559       0                         comedy
3274005  6036  3866       0                         comedy
3274006  6036   793       0                          drama
3274007  6036  3123       0                         comedy

[3274008 rows x 4 columns]

In [48]:
#df_main_cols = preprocess_genres(df_main_cols)

In [59]:
df_main_cols

        user  item                           genres  rating
778       10  2622                   comedy|fantasy       1
779       10   648         action|adventure|mystery       1
780       10  2628  action|adventure|fantasy|sci-fi       0
781       10  3358                   comedy|romance       1
782       10  3359                            drama       0
...      ...   ...                              ...     ...
981369  6036   562                     comedy|drama       1
981370  6036  1096                            drama       1
981371  6036  1097  children's|drama|fantasy|sci-fi       1
981372  6036  1099                            drama       1
981373  6036  2048             animation|children's       0

[189992 rows x 4 columns]

In [60]:
predictions_df

         user  item  rating
0          10  2987       1
1          10  2555       0
2          10  2629       0
3          10  2485       0
4          10  2701       0
...       ...   ...     ...
3274003  6036  2246       0
3274004  6036   559       0
3274005  6036  3866       0
3274006  6036   793       0
3274007  6036  3123       0

[3274008 rows x 3 columns]

In [63]:
df_filled = pd.concat([df_main_cols, predictions_df], ignore_index=True)

In [65]:
df_filled

         user  item                           genres  rating
0          10  2622                   comedy|fantasy       1
1          10   648         action|adventure|mystery       1
2          10  2628  action|adventure|fantasy|sci-fi       0
3          10  3358                   comedy|romance       1
4          10  3359                            drama       0
...       ...   ...                              ...     ...
3463995  6036  2246                           comedy       0
3463996  6036   559                           comedy       0
3463997  6036  3866                           comedy       0
3463998  6036   793                            drama       0
3463999  6036  3123                           comedy       0

[3464000 rows x 4 columns]

## Sanity check

Lets check if every user has exactly M items in its rating matrix entry

In [66]:
M = len(df_main_cols['item'].unique())

In [67]:
sanity_check = df_filled.groupby("user").size().reset_index().rename(columns={0: "rated_items"})

In [68]:
sanity_check

     user  rated_items
0      10         3464
1      16         3464
2      19         3464
3      23         3464
4      29         3464
..    ...          ...
995  6019         3464
996  6023         3464
997  6030         3464
998  6033         3464
999  6036         3464

[1000 rows x 2 columns]

In [69]:
sanity_check[sanity_check["rated_items"] != M]

Empty DataFrame
Columns: [user, rated_items]
Index: []

## Saving the filled out preference matrix

In [70]:
import sys

In [71]:
sys.path.append('..')
from simulationConstants import ML_1M_1K_SAMPLE_FILLED_PATH

In [ ]:
df_filled.to_csv(f"../{ML_1M_1K_SAMPLE_FILLED_PATH}")

In [ ]:
df_filled.to_pickle("../data/simulation/movielens_1m_1k_sample_sinthetically_filled.pkl")